node_modules
.dockerignore
Dockerfile
npm-debug.log
.hg
.svn
**/.git
.cache

# ignore all *.class files in all folders, including build root
**/*.class

# ignore all *.class files in all folders, including build root
**/*.class
